**/__pycache__
configs/config.json
data/
*.pbs
standardisation_*
data_demo_*
TODO.txt
cell_ids*
experiments/

!standardisation_hist_fold_1.npy
!configs/config_demo.json
!configs/config_demo_inference.json